.cardBase {
	display: flex;
	padding: 1dvw;
	align-items: flex-start;
	border-radius: var(--cardBorderRadius);

	background-color: var(--colPrimary);
	transition: background-color 0.4s;

	margin-top: 1rem;
	margin-bottom: 1rem;

	--cardHeight: 16.5rem;
	--cardBorderRadius: max(5px, 3dvw);
	--colSecondaryTrans: rgb(from var(--colSecondary) r g b / 0.6);
}

.card {
	height: var(--cardHeight);
}

.card.watched {
	background-color: var(--colSecondaryTrans);
}

.card.justAdded {
	animation: justAddedAnim 0.5s forwards;
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
	opacity: 0;
	overflow-y: hidden;
}

@keyframes justAddedAnim {
	100% {
		height: var(--cardHeight);
		padding-top: 1dvw;
		padding-bottom: 1dvw;
		opacity: 100;
	}
}

.card.toRemove {
	animation: toRemoveAnim 0.5s forwards;
	overflow-y: hidden;
}

@keyframes toRemoveAnim {
	0% {
		height: var(--cardHeight);
		padding-top: 1dvw;
		padding-bottom: 1dvw;
		margin-top: 1rem;
		margin-bottom: 1rem;
		opacity: 100;
	}

	100% {
		height: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 0;
		opacity: 0;
	}
}

.cardFake {
	--cardHeight: 16.5rem;
	height: var(--cardHeight);
}

.cardInfo {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100%;
}

.title {
	text-align: left;
	width: 100%;
	margin: 0.3rem 0 0.3rem 0
}

.title > a > img {
	max-width: 1.7rem;
	vertical-align: middle;
}

.imageContainer {
	min-width: var(--imageWidth);
	height: 100%;
	align-content: center;

	--imageWidth: 11.5rem;
}

.animeImage {
	margin-top: var(--marginTopBottom);
	margin-bottom: var(--marginTopBottom);
	max-width: clamp(0px, 15dvw, var(--imageWidth));
	min-height: 10px;
	max-height: calc(var(--cardHeight) - var(--marginTopBottom) * 2);
	border-radius: var(--cardBorderRadius);

	--marginTopBottom: 0.5rem;
}

.thing {
	min-width: 16rem;
}

.titleHover.watched:hover {
	background-color: var(--colSecondary);
}

@media (pointer: fine) {
	.titleHover:hover {
		background-color: hsl(from var(--colPrimary) h s calc(l + 20));
	}


	.titleHover:active {
		background-color: hsl(from var(--colPrimary) h s calc(l - 5));
	}

	.titleHover.watched:active {
		background-color: hsl(from var(--colSecondary) h s calc(l - 20));
	}
}

@media (pointer: coarse) {
	.titleHover:hover {
		background-color: hsl(from var(--colPrimary) h s calc(l + 20%));
	}
}