@property --backgroundCol {
	syntax: "<color>";
	inherits: false;
	initial-value: red;
}

.episodeContainer {
	display: flex;
	flex-direction: row;
	align-items: center;

	--backgroundCol: var(--colAccent);
	--placeholderCol: rgb(from white r g b / 0.5);
	background: linear-gradient(to right, var(--backgroundCol), rgba(0, 0, 0, 0));
	transition: --backgroundCol 0.4s;

	> .episodeNumber {
		padding: 0.4rem;
		text-align: center;
		min-width: 2.7rem;
		padding-left: 0.2rem;

		display: flex;
		justify-content: center;
		align-items: center;

		&:is(p),
		> p {
			color: white;
		}

		&:is(img),
		> img {
			background-color: rgb(150, 150, 150);
			box-shadow: -0.2rem 0.2rem 7px 2px rgba(0, 0, 0, 0.2);
		}
	}

	&.watched {
		--backgroundCol: var(--colSecondaryTrans);
	}

	> label {
		position: relative;
		display: flex;
		align-items: center;

		> input {
			all: unset;
			cursor: text;

			width: 100%;

			&::placeholder {
				color: var(--placeholderCol);
			}
		}

		> div {
			position: absolute;
			pointer-events: none;
			color: transparent;

			width: fit-content;

			&::after {
				position: absolute;
				content: "";
				left: 50%;
				bottom: 0;
				width: 0;
				height: 1px;
				background-color: white;

				transition:
					width 0.7s,
					left 0.7s;
			}
		}

		&:has(> input:focus) > div::after {
			width: 100%;
			left: 0;
		}

		&:has(> input[value=""]) > div::after {
			background-color: var(--placeholderCol);
		}
	}

	&.addEpisode {
		color: black;
		background: linear-gradient(
			to right,
			rgb(250, 220, 220),
			rgb(130, 100, 100)
		);
	}
}
