.episodeList {
	padding: 0;

	text-align: left;

	--colSecondaryTrans: rgb(from var(--colSecondary) r g b / 0.6);
}

.episodeList.regular {
	overflow-y: scroll;
}

.episodeList p {
	margin: 0;
}

.episodeList > * {
	margin: 0;
	margin-top: var(--marginTopBottom);
	margin-bottom: var(--marginTopBottom);

	--marginTopBottom: 0.5rem;
}
