.episodeList {
	padding: 0;

	overflow-y: scroll;
	text-align: left;

	--colSecondaryTrans: rgb(from var(--colSecondary) r g b / 0.6);
}

.episodeList p {
	margin: 0;
}

.episodeList > * {
	margin: 0;
	margin-top: var(--marginTopBottom);
	margin-bottom: var(--marginTopBottom);
	padding: 0.6rem;
	border-radius: 1rem;

	--marginTopBottom: 0.5rem;
}