.seasonPickerContainer {
	--colSecondaryTrans: rgb(from var(--colSecondary) r g b / 0.9);
}

.seasonPicker {
	transition: background-color 0.4s;
}

.seasonPicker.watched {
	background-color: var(--colSecondaryTrans);
}