.seasonPickerContainer {
	--colSecondaryTrans: rgb(from var(--colSecondary) r g b / 0.9);
}

.seasonPicker {
	transition: background-color 0.4s;
	min-width: 13rem;
}

.seasonPicker.watched {
	background-color: var(--colSecondaryTrans);
}

.seasonOption.watched {
	background-color: var(--colSecondary);
}

.seasonOptionSelected {
	outline: 2px solid white;
}
