.detailedCard {
	--detailedCardHeight: calc(var(--cardHeight) * 0.8);
	min-height: var(--detailedCardHeight);
}

.detailedCard > * > .animeImage {
	max-height: calc(var(--cardHeight) * 0.8)
}

.detailedCardInfo {
	max-height: calc(var(--cardHeight) * 0.9);
	transition: max-height 1s;
}

.detailedCardInfo.expanded {
	max-height: 100vh;
}

.animeSummary {
	padding: 1rem;
	padding-bottom: 0;
	border-radius: 2rem;
	border: 2px solid gray;
	background-color: var(--colNeutral);
}

.airedDate {
	color: var(--colWeakWhite);
}