/* .addAnimeButton {
	width: var(--defaultItemWidth);
	height: var(--defaultItemWidth);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: var(--colAccent);
}

.addAnimeButton > img {
	width: 2rem;
} */