.animeFilterNode {
	min-width: 15rem;
}

.extTypeToggle {
	display: flex;
	width: 1.7rem;
	height: 1.7rem;
	padding: 0.7rem;
	border: 1px solid transparent;
	border-radius: 1rem;

	text-align: center;
	opacity: 0.5;

	transition:
		background-color 0.25s,
		border-color 0.25s,
		opacity 0.25s;
}

.checked > * > .extTypeToggle {
	background-color: var(--colAccent);
	opacity: 1;
}
