#mainMenuBar {
	display: flex;
	position: absolute;
	top: 0;
	width: 100%;
	height: var(--height);

	z-index: 1;

	align-items: center;

	box-sizing: border-box;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);

	background-color: rgb(from var(--colAccent) r g b / 0.2);

	border-radius: 0 0 1rem 1rem;

	padding: 1rem;

	--defaultItemWidth: calc(var(--height) / 13 * 8);
}

.menuBarButton {
	width: var(--defaultItemWidth);
	height: var(--defaultItemWidth);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: var(--colAccent);
}

.menuBarButton > img {
	width: calc(var(--defaultItemWidth) * 0.6);
}
