.progressDropdown {
	min-width: 25rem;
	max-width: 50dvw;
	display: flex;
	flex-direction: column;
	min-height: 4.2rem;
	padding-top: 0.5rem;
}

.circleProgress.show {
	opacity: 0;
	animation: circleProgress_showAnim 0.8s forwards;
}

@keyframes circleProgress_showAnim {
	to {
		opacity: 1;
	}
}

.circleProgress.hide {
	animation: circleProgress_hideAnim 1s forwards;
}

@keyframes circleProgress_hideAnim {
	60% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.circleProgress.preHidden {
	opacity: 0;
}

.warnIcon {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);

	transition: opacity 1s;
}

.warnIcon.hide {
	opacity: 0;
}

.warnIcon.show {
	opacity: 1;
}
