.progressTask {
	--maxHeight: 25rem;

	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;

	border-radius: 1rem;

	overflow: hidden;
}

.progressTask.show {
	max-height: 0;
	animation: progressTask_showAnim 1s forwards;
}

.progressTask.hide {
	max-height: var(--maxHeight);
	animation: progressTask_hideAnim 1s forwards;
}

.progressTask.failed {
	background-color: var(--colFail);
}

@keyframes progressTask_hideAnim {
	100% {
		opacity: 0;
		max-height: 0;
		margin-bottom: 0;
	}
}

@keyframes progressTask_showAnim {
	100% {
		max-height: var(--maxHeight);
		margin-bottom: 0.5rem;
	}
}

.progressLabel {
	margin-left: var(--margin);
	margin-right: var(--margin);
	margin-bottom: 0;
	text-align: left;

	max-height: 15rem;
}

.progressLabel > * {
	margin: 0;
}

.progressTaskBar {
	margin-left: var(--margin);
	margin-right: var(--margin);
}
