.progressBar {
	height: 0.7rem;
	background: var(--colNeutral);
	z-index: 0;
	overflow: hidden;
	margin: var(--margin);
	margin-top: 0;

	border-radius: 100vw;

	align-items: center;
}

.progressBar > span {
	display: block;
	height: 100%;
	width: calc(var(--progress) * 100% + 100vw);
	translate: -100vw;
	overflow: hidden;
	border-radius: 100vw;

	transition: width 0.5s, background-color 1s;
	font-weight: 1000;
}

.progressBar > span.default {
	background-color: var(--colSecondary);
}

.progressBar > span.fail {
	background-color: #e4c465;
}