.progressButton {
	position: relative;
	height: fit-content;
	z-index: 1;
	border: none;
}

.progressButton .progress {
	overflow: hidden;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	z-index: 0;
	background-color: var(--colSecondary);
	border-radius: var(--borderRadius);
	transition: width 0.5s;
}