.addAnimeButton {
	width: 3.5rem;
	height: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: var(--colAccent);
}

.addAnimeButton > img {
	width: 2rem;
}