.detailsPage {
	position: relative;
	width: 100dvw;
	height: 100vh;
	overflow-y: scroll;
	background-color: var(--colBackground);
	top: 0;
	z-index: 4;

	transition: left 1s;
}

.detailsPage.show {
	left: 0;
}

.detailsPage.hide {
	left: 100dvw;
}

.detailsPage.disableTransition {
	transition: none;
}

.detailedCard {
	min-height: var(--cardHeight);
}

.detailedCardInfo {
	max-height: calc(var(--cardHeight));
	transition: max-height 1s;
}

.detailedCardInfo.expanded {
	max-height: 100vh;
}

.animeSummary {
	padding: 1rem;
	padding-bottom: 0;
	border-radius: 2rem;
	border: 2px solid gray;
	background-color: var(--colNeutral);
}