.fullScreenScrollContainer {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100dvh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.mainMenuBarProps {
	--height: max(min(13dvh, 13dvw, 6rem), 4rem);
	height: var(--height);
}
