.fullScreenScrollContainer {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.mainMenuBarProps {
	--height: max(min(13dvh, 13dvw, 6rem), 4rem);
	height: var(--height);
}
