.addAnimeInputs {
	position: sticky;
	top: 0;
	padding: var(--padding);
	background-color: rgb(from var(--colNeutral) r g b / 0.5);

	margin-bottom: 0.8rem;
}

.fileButton {
	--buttonSize: 2.5rem;
	--buttonPadding: 0.6rem;

	cursor: pointer;
	overflow: hidden;

	background-color: transparent;
	height: calc(var(--buttonSize) + 2 * var(--buttonPadding));

	border-radius: 100vw;
	border: 2px solid transparent;

	transition:
		background-color 0.15s,
		border 0.15s;
}

.fileButton:hover {
	background-color: rgb(from var(--colAccent) r g b / 0.3);
	border: 2px solid var(--colAccent);
}

.fileButton:focus,
.fileButton:focus-visible {
	border: 2px solid var(--colAccent);
}

.fileButton:active {
	filter: brightness(0.8);
}

.fileButton > * {
	padding: var(--buttonPadding);
}

label.fileButton > input {
	display: none;
}

.fileButton > img {
	width: var(--buttonSize);
	opacity: 0.6;
}

.addAnimeSearch {
	flex: 1 1 auto;
	text-align: center;
	font-size: 1rem;
}

.addButtonProps {
	--bottomSpacing: 3rem;
	--height: 3rem;
}

.addButton {
	position: absolute;
	--width: 10rem;
	width: var(--width);
	bottom: calc(var(--bottomSpacing));
	font-size: larger;
	left: calc(50% - var(--width) / 2);
	color: black;
	border-radius: 100vw;

	display: flex;
	align-items: center;
	justify-content: center;

	box-shadow:
		0 0 100px black,
		0 0 40px rgba(0, 0, 0, 0.3);

	transition:
		background-color 0.5s,
		color 0.5s,
		translate 0.7s cubic-bezier(0.47, 1.64, 0.41, 0.8);

	& .progress__content {
		background-color: white;
		display: flex;
		padding: 0.5rem;
		border-radius: 100vw;
		justify-content: center;

		> span {
			position: relative;
		}
	}
}

.addButton:not(.loading):disabled {
	translate: 0 calc(var(--bottomSpacing) + var(--height) + 4rem);
}

.addButtonSpacer {
	height: calc(var(--bottomSpacing) + var(--height));
}
