.addAnimeInputs {
	position: sticky;
	top: 0;
	padding: var(--padding);
	height: fit-content;
	background-color: rgb(from var(--colNeutral) r g b / 0.5);
}

.addAnimeSearch {
	flex: 1 1 auto;
	text-align: center;
	font-size: 1rem;
	margin-bottom: 0.8rem;
}

.addButtonProps {
	--bottomSpacing: 3rem;
	--height: 3rem;
}

.addButton {
	position: absolute;
	--width: 10rem;
	width: var(--width);
	height: var(--height);
	bottom: calc(var(--bottomSpacing));
	font-size: larger;
	left: calc(50% - var(--width) / 2);
	background-color: white;
	color: black;

	display: flex;
	align-items: center;
	justify-content: center;

	box-shadow:
		0 0 100px black,
		0 0 40px rgba(0, 0, 0, 0.3);

	border-radius: 100rem;

	transition:
		background-color 0.5s,
		color 0.5s,
		translate 0.7s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.addButton:not(.loading):disabled {
	translate: 0 calc(var(--bottomSpacing) + var(--height) + 4rem);
}

.addButtonSpacer {
	height: calc(var(--bottomSpacing) + var(--height));
}