#addAnimeMenu {
	position: fixed;
	top: 0;
	left: -100%;
	width: 81%;
	min-height: 25%;
	max-height: 100dvh;
	z-index: 2;
	background-color: var(--colNeutral);
	overflow-y: hidden;

	border-radius: 0 1rem 1rem 0;

	transition: left 0.8s;
}

#addAnimeMenu.open {
	left: 0;
}

#thingToClose {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

	opacity: 0;

	background-color: rgb(from var(--colNeutral) r g b / 0.5);
	width: 100%;
	height: 100%;

	animation: "" 1s forwards;
}

@keyframes opacityCloseThing {
	0% {
		opacity: 1;
		visibility: visible;
	}

	100% {
		opacity: 0;
	}
}

@keyframes opacityOpenThing {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		visibility: visible;
	}

}

#addAnimeInputs {
	height: fit-content;
}

#addAnimeSearch {
	flex: 1 1 auto;
	text-align: center;
	font-size: 1rem;
	margin-bottom: 0.8rem;
}

.addButtonProps {
	--bottomSpacing: 3rem;
	--height: 2rem;
}

.addButton {
	position: absolute;
	--width: 30%;
	width: var(--width);
	height: var(--height);
	bottom: var(--bottomSpacing);
	font-size: larger;
	left: calc(50% - var(--width) / 2);
	background-color: white;
	color: black;

	margin: auto;
	box-shadow: 0 0 100px black, 0 0 40px rgba(0, 0, 0, 0.3);

	border-radius: 100rem;

	transition: background-color 0.5s, color 0.5s, translate 0.7s cubic-bezier(.47, 1.64, .41, .8);
}

.addButton:disabled {
	translate: 0 calc(var(--bottomSpacing) + var(--height) + 4rem);
}

.addButtonSpacer {
	height: calc(var(--bottomSpacing) + var(--height) + 1rem);
}