.addAnimeMenu {
	position: fixed;
	top: 0;
	left: -100%;
	width: 81%;
	min-height: 30rem;
	max-height: 100dvh;
	z-index: 2;
	background-color: var(--colNeutral);
	overflow-y: hidden;

	border-radius: 0 1rem 1rem 0;

	transition: left 0.8s;
}

.addAnimeMenu.open {
	left: 0;
}

.thingToClose {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

	opacity: 0;

	background-color: rgb(from var(--colNeutral) r g b / 0.5);
	width: 100%;
	height: 100%;

	animation: "" 1s forwards;
}

@keyframes opacityCloseThing {
	0% {
		opacity: 1;
		visibility: visible;
	}

	100% {
		opacity: 0;
	}
}

@keyframes opacityOpenThing {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		visibility: visible;
	}
}
