.typeSearchResults {
	display: grid;
	margin: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(var(--minCardWidth), 1fr));
	gap: 10px;

	min-height: 10rem;

	--minCardWidth: 300px;
}

.searchResultCard {
	min-width: var(--minCardWidth);
	transition: background-color 0.8s;

	background-color: var(--colPrimary);

	margin: 0;
	padding: 0;

	border-radius: clamp(20px, 3dvw, 30px);

	color: white;
}

.searchResultCard > img {
	max-width: 10dvw;
	max-height: 40dvh;
}

.searchResultCard.selected {
	background-color: rgb(from var(--colSecondary) r g b / 0.7);
}