:root {
	width: 100%;
	margin: 0 0;
	text-align: center;

	--colPrimary: rgb(70, 40, 50);
	--colSecondary: rgb(70, 173, 50);
	--colAccent: rgba(170, 170, 170, 0.4);
	--colBackground: rgb(30, 10, 20);

	background-color: var(--colBackground);
}

#root {
	width: 100%;
}