html {
	overscroll-behavior: none;
}

:root {
	width: 100%;
	height: calc(100vh - 200px);
	overflow: hidden;
	margin: 0 0;
	text-align: center;

	--colPrimary: rgb(70, 40, 50);
	--colSecondary: rgb(70, 173, 50);
	--colAccent: rgba(170, 170, 170, 0.4);
	--colBackground: rgb(30, 10, 20);
	--colNeutral: rgb(26, 29, 36);
	--colFail: rgb(236, 73, 61);
	--colWarn: rgb(224, 236, 61);

	--toastify-toast-width: 500px;

	--largeIconWidth: 2rem;
	--mediumIconWidth: 1.1rem;
	--smallIconWidth: 0.7rem;

	--largePadding: 1.7rem;
	--padding: 0.8rem;
	--smallPadding: 0.3rem;

	--largeMargin: 2rem;
	--margin: 1rem;
	--mediumMargin: 0.5rem;
	--smallMargin: 0.3rem;

	background-color: var(--colBackground);
}

button {
	box-sizing: border-box;
	border-radius: 1rem;
	color: white;
	background-color: var(--colAccent);
}

#root {
	position: relative;
	width: 100%;
	height: 100vh;
}

pre {
	margin: 0;
}

.flexRow {
	display: flex;
	flex-direction: row;
}

.flexColumn {
	display: flex;
	flex-direction: column;
}

.flexGrow {
	flex: 1 1 auto;
}

.flexGrowChildren > * {
	flex: 1 1 auto;
}

.flexGrow0Width {
	flex: 1 1 auto;
	width: 0;
}

.flexGrow0Height {
	flex: 1 1 auto;
	height: 0;
}

.equalRowItems {
	display: flex;
}

.flexWrap {
	display: flex;
	flex-wrap: wrap;
}

.equalRowItems > * {
	flex: 1 1 0;
	width: 0;
}

.transparentBackground {
	background-color: transparent;
}

.customFileInput {
	cursor: pointer;
}

.customFileInput > * {
	margin: 0.3rem;
}

.customFileInput > input {
	display: none;
}

.customFileInput > img {
	width: 3rem;
	opacity: 0.6;
}

h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.2rem;
	font-weight: 600;
}

.smallText {
	font-size: small;
}

.unimportantText {
	font-size: small;
	color: rgba(255, 255, 255, 0.6)
}

hr {
	border-style: none;
	background-color: var(--colNeutral);
	height: 1px;
}

.leftAlignedText {
	text-align: left;
}

.verticalCenterItems {
	align-content: center;
	align-items: center;
}

.verticalCenter {
	align-self: center;
}

.spaceBetween {
	justify-content: space-between;
}

.border {
	border: 1px red solid;
}

.border2 {
	border: 1px blue solid;
}

.largeIcon {
	width: var(--largeIconWidth);
	height: var(--largeIconWidth);
}

.mediumIcon {
	width: var(--mediumIconWidth);
	height: var(--mediumIconWidth);
}

.smallIcon {
	width: var(--smallIconWidth);
	height: var(--smallIconWidth);
}

.largePadding {
	padding: var(--largePadding);
}

.padding {
	padding: var(--padding);
}

.smallPadding {
	padding: var(--smallPadding);
}

.largeMargin {
	margin: var(--largeMargin);
}

.margin {
	margin: var(--margin);
}

.mediumMargin {
	margin: var(--mediumMargin);
}

.smallMargin {
	margin: var(--smallMargin);
}

.shimmerBackground {
	box-shadow: inset 0 0 4rem rgba(146, 125, 125, 0.3);
}

.scroll {
	overflow: scroll;
}

.invisibleDisable {
	box-sizing: border-box;
}

.invisibleDisable:disabled {
	border-color: transparent;
	outline: none;
	cursor: default;
}

.relative {
	position: relative;
}

.absoluteCentered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.breakWord {
	overflow-wrap: break-word;
}