html {
	overscroll-behavior: none;
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* a:not(.reset) {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:not(.reset):hover {
	color: #535bf2;
} */

body {
	margin: 0;
	display: flex;
	place-items: center;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

:where(.reset) {
	all: unset;
}

:where(:is(button, .button):not(.reset)) {
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	box-sizing: border-box;
	border-radius: 1rem;
	color: white;
	background-color: var(--colAccent);
}

:where(:is(button, .button, .buttonAnim):not(.reset)) {
	transition: border-color 0.25s;

	&:hover {
		border-color: #646cff;
	}

	&:focus,
	&:focus-visible {
		outline: 4px auto -webkit-focus-ring-color;
	}
}
