.readMoreButton {
	margin-left: auto;
	width: fit-content;
	padding: 0.5rem;
	opacity: 1;

	color: gray;
	max-height: 3rem;

	transition: opacity 0.5s, max-height 2s;
}

.readMoreButton.hidden {
	opacity: 0;
	max-height: 0;
	cursor: default;
}

.expandableText {
	display: -webkit-box;
	line-clamp: var(--maxLines);
	-webkit-line-clamp: var(--maxLines);
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.expandableText.expanded {
	line-clamp: initial;
	-webkit-line-clamp: initial;
}