.fullSizeButtonList :is(button, a):not(.listIgnore) {
	border: 1px solid transparent;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;

	box-sizing: border-box;
	color: white;
	text-decoration: none;

	border-radius: 0;
	background-color: transparent;

	transition: background-color 0.2s, outline 0.2s, border-color 0.25s;
}

.fullSizeButtonList > :first-child {
	border-top-left-radius: var(--dropdownContentBorderRadius);
	border-top-right-radius: var(--dropdownContentBorderRadius);
}

.fullSizeButtonList > :last-child {
	border-bottom-left-radius: var(--dropdownContentBorderRadius);
	border-bottom-right-radius: var(--dropdownContentBorderRadius);
}

.fullSizeButtonList :is(button, a):not(.listIgnore, .staticStyle):hover {
	border-color: #646cff;
	background-color: var(--colAccent);
}

.fullSizeButtonList :is(button, a):not(.listIgnore,
	.staticStyle):focus,
.fullSizeButtonList :is(button, a):not(.listIgnore,
	.staticStyle):focus-visible {
	background-color: var(--colAccent);
	outline: 4px auto -webkit-focus-ring-color;
}