.starRatingContainer {
	width: fit-content;
	height: fit-content;

	position: relative;
}

.starIcon {
	position: relative;

	width: 24px;
	height: 24px;

	display: flex;

	> * {
		width: 100%;
		height: 100%;
	}

	> .star-filled,
	> .star-empty {
		position: absolute;
		left: 0;
		top: 0;
	}

	> .star-filled {
		clip-path: polygon(
			0 0,
			var(--fillAmount) 0,
			var(--fillAmount) 100%,
			0% 100%
		);
	}
}
